@model DapperProject.Dtos.CreateProjectDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form method="post">
        <label>Proje Adı</label>
        <input type="text" asp-for="Title" class="form-control" style="border:1px solid #000" />
        <br />

        <label>Proje Fiyatı</label>
        <input type="text" asp-for="Price" class="form-control" style="border:1px solid #000" />
        <br />

        <label>Proje Tamamlama zamanı</label>
        <input type="text" asp-for="CompleteDay" class="form-control" style="border:1px solid #000"  />
        <br />
        <label>Proje Açıklaması</label>
        <input type="text" asp-for="Description" class="form-control" style="border:1px solid #000" />
        <br />

        <label>Proje Kategori</label>
        <input type="text" asp-for="ProjectCategory" class="form-control" style="border:1px solid #000" />
        <br />
        <button class="btn btn-primary">Projeyi Kaydet</button>
    </form>
</div>
